body {
    background-color: #FFFC00;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login-form button {
    padding: 15px;
    margin: 10px 0;
    background-color: #FFFC00;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #E6E500;
}

.options a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    margin: 10px;
}

.options a:hover {
    text-decoration: underline;
}